[user]
	name = 1ort
	email = 83316072+1ort@users.noreply.github.com
[core]
	editor = nvim
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection

[merge]
  conflictstyle = zdiff3
